<button mat-button routerLink="/profile"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Profile</button>
<!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<button mat-button routerLink="/todo-list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">To Do List</button>
<!-- <mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<button mat-button routerLink="/login"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">Login</button>
<!-- <mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
